# Virtual environment
venv/

# Python cache
__pycache__/

# Pytest cache
.pytest_cache/

# Python compiled files
*.pyc

# VS Code settings
.vscode/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db